// Generated using xcconfig-extractor by Toshihiro Suzuki - https://github.com/toshi0383/xcconfig-extractor
#include "Base.xcconfig"
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
SWIFT_ACTIVE_COMPILATION_CONDITIONS = SWIFT_PACKAGE
USE_HEADERMAP = NO
GCC_OPTIMIZATION_LEVEL = s
SWIFT_OPTIMIZATION_LEVEL = -O
SUPPORTED_PLATFORMS = macosx iphoneos iphonesimulator appletvos appletvsimulator watchos watchsimulator
OTHER_SWIFT_FLAGS = -DXcode
DYLIB_INSTALL_NAME_BASE = @rpath
SDKROOT = macosx
PRODUCT_NAME = $(TARGET_NAME)
SWIFT_VERSION = 3.0
COMBINE_HIDPI_IMAGES = YES
COPY_PHASE_STRIP = YES
